<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lgf.mapper.DtManagerRoleListMapper" >
  <resultMap id="BaseResultMap" type="com.lgf.pojo.DtManagerRoleList" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="NVARCHAR" />
    <result column="navigation_id" property="navigationId" jdbcType="NVARCHAR" />
  </resultMap>
<!--  <insert id="insertSelective" parameterType="com.lgf.pojo.DtManagerRoleList" >
    insert into dt_manager_role_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="navigationId != null" >
        navigation_id,
      </if>
      <if test="isSys != null" >
        is_sys,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=NVARCHAR},
      </if>
      <if test="navigationId != null" >
        #{navigationId,jdbcType=NVARCHAR},
      </if>
      <if test="isSys != null" >
        #{isSys,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lgf.pojo.DtManagerRoleList" >
    update dt_manager_role_list
    set role_id = #{roleId,jdbcType=NVARCHAR},
      navigation_id = #{navigationId,jdbcType=NVARCHAR},
      is_sys = #{isSys,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>-->
</mapper>